.register-container {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.register-container label,
.register-container input {
  display: block;
  margin-bottom: 8px;
  width: 80%;
}

.register-container button {
  display: block;
  margin-bottom: 8px;
  width: 66%;
  cursor: pointer;
}

.register-container button:hover {
  background-color: lightslategray;
}

.login-container {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.login-container label,
.login-container input {
  display: block;
  margin-bottom: 8px;
  width: 80%;
}

.login-container button {
  display: block;
  margin-bottom: 8px;
  width: 66%;
  cursor: pointer;
}

.login-container button:hover {
  background-color: lightslategray;
}

.book-list-item {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(10, auto);
  grid-auto-columns: minmax(0, 1fr);
  max-width: calc(6 * 250px);
}

.book-link {
  text-decoration: none;
  color: red;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-around;

  padding: 15px;
  font-size: 18px;
  text-decoration: none;
}
